<div class="container" style="margin-top: 50px;">
  <h1>Login</h1>


  <div class="panel panel-default well">
  <div class="panel-body">

    <%= form_for :login, url: new_login_path do |user| %>
      <label for="inputPassword3" class="col-sm-2 control-label">E-mail</label>
      <p><%= user.text_field :email, class: "form-control" %></p>

      <label for="inputPassword3" class="col-sm-2 control-label">Senha</label>
      <p><%= user.password_field :password, class: "form-control" %></p>
      
      <p><%= user.submit "Logar", class: "btn btn-default" %></p>
    <% end %>

  </div>
</div>


</div>