<div class="form-group">
  <%= form_tag games_path, method: :get do %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar jogo" %>
    <%= submit_tag "Buscar", class: "btn btn-default" %>
  <%  end %>
</div>
